DATABASE_URL=postgresql://app:app@localhost:5432/eraser?schema=public
REDIS_URL=redis://127.0.0.1:6379
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio_password
S3_BUCKET=artifacts
S3_REGION=us-east-1
PRISMA_CLIENT_ENGINE_TYPE=binary
PRISMA_CLI_QUERY_ENGINE_TYPE=binary
PRISMA_GENERATE_NO_ENGINE=
PRISMA_GENERATE_DATAPROXY=
PRISMA_GENERATE_ACCELERATE=
